//colors
$color-white: #ffffff;
$color-black: #000000;
$color-white-50: rgba(255, 255, 255, 0.5);
$color-summer-sky: #3E9CDC;
$color-summer-sky-light: #43ABF0;
$color-black-russian: #2A2B30;
$color-jaguar: #272733;
$color-silver: #C3C3C3;
$color-custom-yellow: #FFFFFFd9;
// Typography

$ff-main: 'Lato', 'Arial', sans-serif;
$ff-secondary: 'Raleway', 'Arial', sans-serif;

// Viewport
$vp-tablet: 1023px;
$vp-mobile: 767px;