@use '../global/_variables' as *;

.custom-file {
    display: inline-block;
    
    &__input {
        opacity: 0;
        position: absolute;
        z-index: -1; 
        width: 0.1px;
        height: 0.1px;
        overflow: hidden;
        


        &:focus-visible + .custom-file__label {
            outline: 2px solid #007bff;
            outline-offset: 2px;
        }
    }
    &__label {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        text-transform: uppercase;
        gap: 10px;
        cursor: pointer;
        padding: 10px 15px;
        border: none;
        border-radius: 3px;
        width: 100%;
        background-color: $color-custom-yellow;
        padding: 10px;
        outline: none;
        border: none;
        font-family: 'Lato', 'Arial', sans-serif;
        &::placeholder {
          font-family: 'Lato', 'Arial', sans-serif;
          color: $color-jaguar;
        }
        color: $color-jaguar;
        font-weight: 700;
        border-radius: 4px;
        font-size: 14px;
        line-height: 1; 
        transition: background .3s ease-in, color .3s ease-in;

        &:hover {
            background-color: #0056b3;
            border-color: #0056b3;
            color: $color-white;
        }
        &:active {
            transform: translateY(1px);
        }
    }
    &__icon {
        width: 18px;
        height: 18px;
    }
    &__text {
        white-space: nowrap;
    }
}
