@use '../global/_variables' as *;

.footer {
  display: flex;
  padding: 30px 0;
  background-color: #3D4050;
  
  &__wrapper {
    display: flex;
    align-items: center;
    @media (max-width: 1023px) {
      flex-direction: column;
      gap: 20px;
      justify-content: center;
      align-items: center;
    }
  }
  &__copyright, &__payment, &__contacts {
    padding: 0 40px;
    border-right: 1px solid #C3C3C3;
    @media (max-width: 1023px) {
      padding: 0;
      border-right: unset;
    }
  }
  &__copyright {
    padding-left: unset;
  }
  &__contacts {
    display: flex;
    align-items: center;
    border-right: unset;
    padding-right: unset;
  }
  &__copyright {
    &-text {
      font-family: $ff-main;
      font-size: 13px;
      line-height: 1;
      color: $color-white;
      font-weight: 400;
    }
  }
  &__list {
    &-payment {
      font-family: $ff-main;
      font-size: 13px;
      line-height: 1;
      color: $color-silver;
      font-weight: 400;
    }
  }
  &__list, &__links {
    display: flex;
    gap: 38px;
  }
  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }
  &__links {
    &-item {
      display: flex;
    }
    &-link {
      display: flex;
      align-items: center;
      gap: 12px;
      text-decoration: none;
      font-family: $ff-main;
      font-size: 13px;
      line-height: 1;
      color: $color-white;
      font-weight: 400;
      &-icon {
       fill: black;
    }
    }
    
  }

}