@use '../global/_variables' as *;

.form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 30px;
  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }
  &__select, 
  &__input-email, 
  &__input-name, 
  .custom-file__label {
    padding: 14px 16px;
    height: 50px;
    font-size: 16px;
    border-radius: 3px;
  }
  &__select {
    grid-column: 1 / 2;
    position: relative;
    color: $color-jaguar;
    background: $color-white;
    border: 1px solid #3E9CDC;
    cursor: pointer;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    transition: color .2s ease-in, background .2s ease-in;
    font-family: $ff-main;
    @media (max-width: 767px) {
      width: 100%;;
    }
    &:focus {
      background-color: #3D4050D9;
      color: $color-white;
    }
    option {
      background: #1e1f2b;
      color: #e0e4eb;
      padding: 12px;
    }
  }
  &__input-email, &__input-name {
    padding-left: 16px;
    background-color: $color-custom-yellow; 
    border: 1px solid transparent;
    margin: 0 0 0 10px; 
    @media (max-width: 767px) {
      margin: 0;
    }
    &:focus {
        border-color: $color-summer-sky;
    }
  }
  input {
    outline: none;
    border: none;
    &::placeholder {
      font-family: $ff-main;
      color: $color-jaguar;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 3;
  }
  &__range {
    width: 100%;
    cursor: pointer;
    -webkit-appearance: none; 
    margin: 0 0 20px 0;
    &::-webkit-slider-runnable-track {
      height: 6px;
      background: #FFFFFF;
      border-radius: 3px;
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none; 
      display: block;
      width: 23px;
      height: 23px;
      background-color: #42A9ED;
      border: 3px solid #286690;
      border-radius: 50%;
      margin-top: -8.5px; 
      cursor: grab;
      transition: transform .2s ease-in;
    }
    &::-webkit-slider-thumb:active {
      cursor: grabbing;
      transform: scale(1.1);
    }
    &-info { 
      display: flex;
      justify-content: space-between;
      margin: 0 0 22px;
      @media (max-width: 767px) {
      flex-direction: column;
      justify-content: center;
      text-align: center;
      gap: 10px;
    }
     }
    &-percent, &-label { 
      font-family: $ff-main;
      font-weight: 400;
      line-height: 1;
      font-size: 18px;
      color: $color-white;
     }
  }
  &__button {
    grid-column: 1 / 4;
    justify-self: center;
    outline: none;
    width: 100%;
    max-width: 370px;
    height: 50px;
    outline: 1px solid #ffffff;
    border: none;
    letter-spacing: 0.02em;
    @media (max-width: 767px) {
      max-width: unset;
    }
  }

}