@use '../global/_variables' as *;

.header {
  background-color: #10101DE5;
  padding: 36px 0;
  position: sticky;
  top: 0;
  z-index: 20;
  
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    font-family: $ff-secondary;
    text-decoration: none;
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.75rem;
    line-height: 100%;
    span {
      color: $color-summer-sky-light;
    }
    &:focus {
      outline: none;
    }
  }

  &__nav {
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__list {
    display: flex;
    gap: 60px;
    padding: 5px 0 0 0;
    
    &-link {
      font-family: $ff-main;
      font-weight: 600;
      font-size: 13px;
      line-height: 100%;
      color: $color-white;
      transition: .2s ease-in-out;
      text-transform: uppercase;
      &:hover {
        color: $color-summer-sky-light;
      }
      &:focus {
        color: $color-summer-sky-light;
        outline: none;
        border: none;
      }
      &:active {
        color: $color-summer-sky-light;
      }
    }
  }
}