@use '../global/_variables' as *;

.custom-select {
    position: relative;
    font-family: $ff-main;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.1;
    cursor: pointer;

    .select-trigger {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #FFFFFFD9;
        color: black;
        padding: 14px 10px;
        border-radius: 5px;
        border: 1px solid transparent;
        transition: all 0.2s ease;

        &:focus {
            outline: none;
            border-color: #3E9CDC;
        }
        &::after {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23000' class='size-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m19.5 8.25-7.5 7.5-7.5-7.5' /%3E%3C/svg%3E%0A");
            display: block;
            width: 20px;
            height: 20px;
            transition: transform 0.2s ease-out;
        }

        &.active {
            background-color: #3D4050D9;
            color: $color-white;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            &::after {
                transform: rotate(180deg);
                content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='white' class='size-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m19.5 8.25-7.5 7.5-7.5-7.5' /%3E%3C/svg%3E%0A");
            }
        }
    }

    .select-options {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 10;
        max-height: 228px;
        overflow-y: auto; 
        border: 1px solid #3D4050; 
        border-top: none;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background: #3D4050D9;
        display: none; 
        &::-webkit-scrollbar {
            width: 10px;
            background: #3D4050;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #4EA8DE;
            border-radius: 5px;
            border: 2px solid #3D4050;
        }
    }
    .select-option {
      cursor: pointer;
      padding: 10px;
      gap: 10px;
      background-color: #272733;
      color: $color-white;

      &:hover, &.focused {
        color: #3E9CDC;
        font-weight: bold;
      }
      
      &.selected {
        background: none;
        color: #3E9CDC;
      }
    }
}
.custom-select.open .select-options {
    display: block;
}